{% extends 'base.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/myPage.css' %}">
            <div class="profile">
                <img src="{% static 'image/profile.png' %}" alt="">
                <div class="nickname">{{ user.nickname }}</div> <!--⭐⭐여기 유저 닉네임-->
            </div>


            <div class="row" id="user-group">
                <a href="{% url 'accounts:user_write_board' %}" class="col"> <!--⭐⭐여기 링크 연결-->
                    <div class="user-write-img">
                        <img src="{% static 'image/user-write-group.png' %}" alt="">
                    </div>
                    <div class="user-write">
                        작성한 모임
                    </div>
                </a>
                <a href="{% url 'accounts:user_participate_board' %}" class="col"> <!--⭐⭐여기 링크 연결-->
                    <div class="user-participate-img">
                        <img src="{% static 'image/user-group-participate.png' %}" alt="">
                    </div>
                    <div class="user-participate">
                        참여한 모임
                    </div>
                </a>
            </div>

            <div class="accoount-setting"> <!--계정 설정 부분-->
                <div class="account-text">계정</div>
                <div class="passwd-change"><a href="{% url 'accounts:account_change' %}">계좌 변경</a></div>
                <div class="nickname-change"><a href="{% url 'accounts:nickname_change' %}">닉네임 변경</a></div>
            </div>

            <div class="other-setting"> <!--계정 설정 부분-->
                <div class="other-text">기타</div>
                <div class="logout"><a href="{% url 'accounts:logout' %}">로그아웃</a></div>
                <div class="user-delete"><a href="{% url 'accounts:user_delete' %}">회원탈퇴</a></div>
            </div>
        {% include 'menuBar_mypage.html' %}
{% endblock %}