{% extends 'base.html' %}
{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/nickname_change.css' %}">
            <div class="top-logo">
                <div class="move-back">
                    <a href="{% url 'accounts:user_page' %}">
                        <img src="{% static 'image/back.png' %}" alt="">
                    </a>
                </div>
                닉네임 변경
            </div>
            
            <div class="nickname">
                <img src="{% static 'image/profile.png' %}" alt="">
                <div class="nickname-text">{{ user.nickname }}</div>
            </div>
            
            <div>
                <form action="{% url 'accounts:nickname_change' %}" method="post" class="nickname-change-form">
                    {% csrf_token %}
                    <input type="text" name="nickname" maxlength="8" placeholder="닉네임(8자 이하)" required><br>
                    <button type="submit" class="submit-btn">변경하기</button> <!--⭐제출버튼-->
                </form>
            </div>
{% endblock %}