{% extends 'base.html' %}
{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/send_email_complete.css' %}">
            <div class="top-logo">
                함께나리
            </div>
            
            <div class="mail-img">
                <img src="{% static 'image/send-mail.png' %}" alt="">
            </div>

            <div class="notice">메일을 전송했습니다.</div>
            <div class="notice">메일함을 확인해 주세요!</div>

            <a href="{% url 'accounts:login' %}" class="go-login">확인</a>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
{% endblock %}
