{% extends 'base.html' %}
{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/send_email.css' %}">
            <div class="page-banner"> <!--배너 부분-->
                <div class="banner-text"> <!--배너 텍스트 부분-->
                    <div class="banner-title"> <!--배너 제목 부분-->
                        회원가입,
                    </div>
                    <div class="banner-content"> <!--배너 내용 부분-->
                        정보를<br> 입력해주세요!
                    </div>
                </div>

                <div class="banner-img"> <!--배너 이미지 부분-->
                    <img src="{% static 'image/sign-up.png' %}" alt=""> <!--⭐⭐여기 사진 링크-->
                </div>
            </div>

            <form action="{% url 'accounts:send_email' %}" method="post" class="signUp-form">
                {% csrf_token %}
                <div class="notice">한양여자대학교 학생 이메일을 입력하여 진행하세요!</div>
                <input type="email" name="email" id="email" placeholder="@student.hywoman.ac.kr" required>

                {% if error %}
                    <div class="error">{{ error }}</div>
                {% endif %}

                <button type="submit" class="submit-btn">발송하기</button> <!--⭐제출버튼-->
            </form>

            <a href="{% url 'accounts:login' %}" class="go-login">돌아가기</a>
{% endblock %}

