{% extends 'base.html' %}
{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/signUpComplete.css' %}">
            <div class="top-logo">
                함께나리
            </div>

            <img src="{% static 'image/complete.png' %}" alt="">

            <div class="complete-text">
                회원가입 완료!
            </div>

            <div class="text">
                함께나리에 가입이 완료되었습니다.
            </div>

            <a href="{% url 'accounts:login' %}"> <!--⭐⭐여기 링크 연결-->
                <button type="button">
                    확인
                </button>
            </a>
{% endblock %}