/* 폰트 적용*/
@import url('https://webfontworld.github.io/SCoreDream/SCoreDream.css');

body {
    padding: 0;
    margin: 0;
    height: 100%;
}

::-webkit-scrollbar { /*화면 스크롤바로 인해 화면 밀림 방지*/
	display: none;
}

/*전체 영역*/
.container-content {
    font-family: 'SCoreDream';
    font-weight: 400;
    outline: 1px solid black;
    width: 420px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 150px;
    z-index: 0;
    position: relative;
}

.contents {
    /* outline: 1px solid red; */
    display: flex;
    flex-direction: column;
    height: 100%;
}

/*-------------------------------------------------------------------*/
/*여기서부터 컨텐츠 영역*/

.page-banner { /*배너 영역*/
    background-color: #F9E3A7;
    margin-bottom: 12%;
}

.banner-title { /*배너 제목(함께나리) 부분*/
    margin: 5% 0% 0% 3%;
    font-weight: 500;
    font-size: 23px;
}

.banner-content { /*배너 내용 부분*/
    margin: 3% 0% 5% 3%;
    font-size: 18px;
}

.banner-img { /*배너 이미지 부분*/
    text-align: right;
    opacity: 0.9;
}
/*------------*/


/*------------로그인 폼*/
.login-form { /*로그인 폼 전체 div*/
    /* outline: 1px solid green; */
    text-align: center;
    margin-bottom: 15%;
}

.login-form input { /*입력 부분들*/
    width: 75%;
    height: 2.9rem;
    border-radius: 10px;
    margin-bottom: 7%;
    border: 1px solid #a5a5a5;
    padding: 3%;
}

.login-form input::placeholder { /*입력 부분 예시 css*/
    font-size: 15px;
    color: #c5c5c5;
}

.login-btn { /*로그인 버튼 css*/
    width: 75%;
    border: none;
    height: 3.5rem;
    margin-top: 7%;
    border-radius: 10px;
    font-size: 19px;
    background-color: #F9E3A7;
    box-shadow: 0px 4px 8px 0px #F1F1F1;
}

.login-form input:focus { /*입력부분들 포커스 css*/
    outline: 1px solid #FFCD4A;
    border: none;
    box-shadow: 0px 4px 8px 0px #f0f0f0;
}
/*-------------*/


/*-------------회원가입 물음 영역*/
.sign-up { /*회원가입 물음 부분*/
    text-align: center;
    font-size: 14px;
}

.sign-up > a { /*회원가입으로 이동하는 링크 부분*/
    margin-left: 1%;
    /* text-decoration-color: #5D6DBE; */
    color: #5D6DBE;
}
