/* 폰트 적용*/
@import url('https://webfontworld.github.io/SCoreDream/SCoreDream.css');

body {
    padding: 0;
    margin: 0;
    height: 100%;
}

::-webkit-scrollbar { /*화면 스크롤바로 인해 화면 밀림 방지*/
	display: none;
}

/*전체 영역*/
.container-content {
    font-family: 'SCoreDream';
    font-weight: 400;
    outline: 1px solid black;
    width: 420px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 150px;
    z-index: 0;
    position: relative;
}

.contents {
    /* outline: 1px solid red; */
    display: flex;
    flex-direction: column;
    height: calc(100vh + 150px);
}

/*메뉴바(footer)*/
.menu {
    width: 420px;
    height: 57px;
    z-index: 1;
    /* outline: 1px solid blue; */
    position: fixed;
    bottom: 0;

    border-radius: 0.625rem 0.625rem 0rem 0rem;
    background: #FFF;
    box-shadow: 0px -4px 8px 0px rgba(162, 162, 162, 0.25);
}

/*메뉴바 아이콘 배치*/
.menu-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;

}

.menu-icons div {
    text-align: center;
    /* outline: 1px solid red; */
    padding-top: 3%;
}

/*메뉴바 hover 시 변경 css*/
.menu-icons div img:hover {
    cursor: pointer;
}

.write:hover {
    content: url(../image/write-yellow.png);
}

.home:hover {
    content: url(../image/home-yellow.png);
}

.user:hover {
    content: url(../image/user-info-yellow.png);
}
/*------------------------*/
/*여기서부터 컨텐츠*/
.top-logo { /* 상단 로고 부분 */
    height: 3rem;
    background-color: #F9E3A7;
    font-size: 20px;
    font-weight: 500;
    line-height: 3rem; /*텍스트 수직정렬*/
}

.move-back { /* 뒤로 가기 div */
    float: left;
    margin: 0% 29% 0% 3%;

}

.move-back > a { /*뒤로 가기 링크 a*/
    text-decoration: none;
}

.move-back > a > img {
    margin-bottom: 17%;
}

.post { /*게시판 글 전체 div*/
    /*margin-top: 1%;*/
    padding: 4%;
    color: black;
    text-decoration: none;
}

.post-hd { /* 게시글 상단(프로필, 닉네임, 모집종료 아이콘, 경로)*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.user-profile > img { /*프로필 사진*/
    width: 24px;
    height: 24px;
}

.user-profile { /*프로필 div*/
    margin-right: 2%;
}

.user-nickname { /*nickname div*/
    font-size: 14px;
    margin-top: 1%;
    font-weight: 500;
}

.end-icon { /*모집 종료 아이콘 div*/
    margin-top: 0.2%;
    margin-left: 2%;
}

.route { /*경로 div*/
    margin-left: auto;
    color: #5D6DBE;
    font-size: 12px;
    margin-top: 1%;
}

.post-content { /*게시글 내용*/
    margin: 4% 0% 7% 0%;
    line-height: 1.6rem;
    font-size: 15px;
    word-break: break-all;
}

.detail_link { /*콘텐츠 누르면 detail 페이지로 이동하기 위한 a 태그*/
    text-decoration: none;
    color: black;
}

.post-ft { /*게시글 하단(인원수, 버튼) div*/
    margin-bottom: 17%;
}

.people-count { /*인원수 div*/
    font-size: 13px;
    padding-top: 1.5%;
    float: left;
    width: 50%;
}

.people-count > img { /*사람들 아이콘*/
    width: 24px;
    height: 19px;
}

.people-count > span { /*참여인원 부분*/
    margin-left: 2%;
}

.post-btn { /*참여하기(or 종료하기) 버튼 div*/
    float: right;
    /*margin-top: 1%;*/
}

.post-btn > button { /*참여하기(or 종료하기) 버튼*/
    border: none;
    background-color: #F9E3A7;
    border-radius: 8px;
    font-size: 13px;
    width: 5.5rem;
    height: 2rem;
    padding-top: 3%;
}

.meeting-btns {
    background-color: #F9E3A7;
    border-radius: 8px;
    font-size: 13px;
    width: 5.5rem;
    height: 2rem;
    padding: 9% 21%;
}

.meeting-btns2 {
    background-color: #F9E3A7;
    border-radius: 8px;
    font-size: 13px;
    width: 5.5rem;
    height: 2rem;
    padding: 9% 27%;
}

.meeting-btns-complete { /*모임 완료 상태일 때*/
    background-color: #FFCD4A;
    border-radius: 8px;
    font-size: 13px;
    width: 5.5rem;
    height: 2rem;
    padding: 9% 35%;
}

.line { /*구분선 div*/
    clear: both;
    border: 1px solid #EFEFEF;
}


.not-exists-img { /*없다 이미지 div*/
    margin-top: 50%;
    text-align: center;
}

.no-notice { /*없습니다 텍스트*/
    margin-top: 5%;
    text-align: center;
    color: #717171;
}