{% extends 'base.html' %}
{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/board_detail.css' %}">
            <div class="top-logo">
                <div class="move-back">
                    <a href="{{ back_url }}">
                        <img src="{% static 'image/back.png' %}" alt="">
                    </a>
                </div>
                게시판
            </div>

            <div class="post"> <!--⭐⭐-->
                <div class="post-hd"> <!--프로필, 닉네임, 모집종료 아이콘, 경로-->
                    <div class="user-profile"> <!--프로필 사진-->
                        <img src="{% static 'image/profile-post-detail.png' %}" alt="">
                    </div>

                    <div class="user-nickname"> <!-- ⭐⭐닉네임 -->
                        {{ meeting.user_id.nickname }}
                    </div>

                    {% if meeting.status.status_number > 0 %}
                        <div class="end-icon"> <!--모임 종료 아이콘 -->
                            <img src="{% static 'image/end-icon.png' %}" alt="">
                        </div>
                    {% endif %}

                    <div class="route"> <!--⭐⭐ 경로 -->
                        {{ meeting.route }}
                    </div>
                </div>

                <div class="post-content"> <!--⭐⭐게시글 내용-->
                    {{ meeting.meeting_content|linebreaksbr }}
                </div>

                <div class="post-ft"> <!--인원수, 참여하기(or 종료하기) 버튼-->
                    <div class="people-count"> <!--인원수-->
                        <img src="{% static 'image/people.png' %}" alt=""> <!--사람들 아이콘-->
                        <span>{{ meeting.participant_count }}명 / 4명</span> <!--⭐⭐ 인원수 글자 -->
                    </div>

                    <div class="post-btn"> <!--참여하기(or 종료하기) 버튼-->
                        {% load custom_tags %}
                        {% button_text meeting.id as Participant_list%}
                        {% if meeting.user_id == request.user %}
                            {% if meeting.status.status_number == 0 %}
                                <a href="{% url 'boards:gather-done' meeting.id %}">
                                    <div class="meeting-btns">모집종료</div>
                                </a>
                            {% elif meeting.status.status_number == 1 %} <!--정산하기-->
                                <button type="button" class="state-btn">{{ meeting.status.button_text }}</button>
                            {% elif meeting.status.status_number == 2 %}
                                <a href="{% url 'boards:meeting-complete' meeting.id %}"> <!--완료하기-->
                                    <div class="meeting-btns">{{ meeting.status.button_text }}</div>
                                </a>
                            {% else %}
                                <div class="meeting-btns-complete">{{ meeting.status.button_text }}</div>
                            {% endif %}
                        {% else %}
                            {% if meeting.status.status_number == 0 %}
                                {% if Participant_list %}
                                    <a href="{% url 'boards:participate-delete' meeting.id %}">
                                        <div class="meeting-btns">참여취소</div>
                                    </a>
                                {% else %}
                                    {% if meeting.participant_count == 4 %}
                                        <div></div>
                                    {% else %}
                                        <a href="{% url 'boards:participate' meeting.id %}">
                                            <div class="meeting-btns">참여하기</div>
                                        </a>
                                    {% endif %}
                                {% endif %}
                            {% elif meeting.status.status_number < 3 %}
                                <div class="meeting-btns">모임진행</div>
                            {% else %}
                                <div class="meeting-btns-complete">{{ meeting.status.button_text }}</div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>

                <div class="people-detail">
                    <div class="title-text"> <!--아이콘, 참여한 사람 텍스트 부분-->
                        <img src="{% static 'image/people.png' %}" alt="">
                        참여한 사람
                    </div>

                    <div class="group-users"> <!--⭐⭐ 택시 모임에 참여한 인원 부분-->
                        {% for member in participant %}
                            <span class="members">{{ member.user.nickname }}</span>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="comment"> <!--댓글 작성 부분-->
                <div class="comment-text">
                    <div class="comment-img"><img src="{% static 'image/comment.png' %}" alt=""></div>
                    <div class="comment-title">댓글 작성</div>
                </div>

                <form action="/boards/{{ meeting.id }}/" method="post" id="comment-form"> <!--⭐⭐댓글 등록 textarea-->
                    {% csrf_token %}
                    <div>
                        <textarea name="content" id="comment-area" placeholder="댓글 작성" maxlength="99" spellcheck="false"></textarea>
                        <div class="submit-btn">
                            <button type="submit">등록</button>
                        </div>
                    </div>
                </form>

                <div id="text-count">0 / 100</div>
            </div>

            <div class="line"></div> <!--구분선-->

            {% for comment in comments %}
            <div class="user-comment"> <!--⭐⭐ 댓글들-->
                <div class="comment-hd"> <!--댓글 윗부분 영역-->
                    <div><img src="{% static 'image/profile-post-detail.png' %}" alt=""></div> <!--프로필 사진-->
                    <div class="comment-nickname">{{ comment.user.nickname }}</div> <!--닉네임-->
                    {% if comment.user == request.user %}
                        <form action="{% url 'boards:comment-delete' meeting.id comment.id %}" method="post" class="comment-delete">
                            {% csrf_token %}
                            <button type="submit" class="comment-delete-btn">삭제</button>
                        </form>
                    {% else %}
                        <div class="comment-delete"></div>
                    {% endif %}
                </div>

                <div class="comment-content"> <!--댓글 내용-->
                    {{ comment.content|linebreaksbr }}
                </div>
            </div>
            <div class="comment-line"></div> <!--댓글 구분선-->
            {% endfor %}

            {% if meeting.user_id == request.user %}
                <button type="button" id="dots-btn"> <!--⭐... 버튼-->
                    <img src="{% static 'image/dots.png' %}" alt="">
                </button>
            {% endif %}

            <div class="btns">
                <a href="{% url 'boards:edit' meeting.id %}">
                    <button type="button" class="edit-btn">수정하기</button> <!--⭐⭐수정하기 버튼-->
                </a>

                <button type="button" class="delete-btn">삭제하기</button> <!--⭐⭐삭제하기 버튼-->
            </div>

            <div id="modal"> <!--모달창-->
                <div class="modal-contents">
                    <button type="button" class="btn-close"></button>
                    <div class="modal-title">글을 삭제하시겠습니까?</div>
                    <a href="#"><div class="closePopup">아니오</div></a>
                    <form class="yesBtn" method="post" action="{% url 'boards:delete' meeting.id %}">
                        {% csrf_token %}
                        <button type="submit" class="delete_post">네</button> <!--⭐⭐여기 글 삭제 버튼-->
                    </form>
                </div>
            </div>

            <div class="settle-modal"> <!--정산하기 모달창-->
                <div class="settle-modal-title">정산하기 <span class="error"></span></div>
                <form action="{% url 'boards:settle' meeting.id %}" method="post" class="settle-form"> <!--⭐⭐ 정산 폼-->
                    {% csrf_token %}
                    <input type="number" id="user_id" name="total_amount" placeholder="택시가격을 입력해주세요. ex) 8000" value="" required>

                    <div class="settle-modal-btns"> <!--확인, 취소 버튼-->
                        <button type="button" class="cancel-btn">취소</button>
                        <button type="submit" class="yes-btn">확인</button>
                    </div>
                </form>
            </div>
        {% include 'menuBar_boards.html' %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{% static 'js/board_detail.js' %}"></script>
{% endblock %}