{% extends 'base.html' %}
{% block content %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/user_participate_board.css' %}">
            <div class="top-logo">
                <div class="move-back">
                    <a href="{% url 'accounts:user_page' %}">
                        <img src="{% static 'image/back.png' %}" alt="">
                    </a>
                </div>
                참여한 모임
            </div>

            {% if not meeting_list %}
                <div class="not-exists-img">
                    <img src="{% static 'image/not-exists.png' %}" alt="">
                </div>
                <div class="no-notice">참여한 모임이 없습니다.</div>
            {% endif %}

            <!--⭐⭐반복문- 유저들이 작성한 글-->
            {% for meeting in meeting_list %}
                {% load custom_tags %}
                {% button_text meeting.id as Participant_list%}
            <div class="post">
                <div class="post-hd"> <!--프로필, 닉네임, 모집종료 아이콘, 경로-->
                    <div class="user-profile"> <!--프로필 사진-->
                        <img src="{% static 'image/profile.png' %}" alt="">
                    </div>

                    <div class="user-nickname"> <!-- 닉네임 -->
                        {{ meeting.user_id.nickname }}
                    </div>

                    {% if meeting.status.status_number > 0 %}
                        <div class="end-icon"> <!--모임 종료 아이콘 -->
                            <img src="{% static 'image/end-icon.png' %}" alt="">
                        </div>
                    {% endif %}

                    <div class="route"> <!-- 경로 -->
                        {{ meeting.route }}
                    </div>
                </div>

                <a href="{% url 'boards:detail' meeting.id %}?from=participate_posts" class="detail_link">
                    <div class="post-content"> <!--게시글 내용-->
                        {{ meeting.meeting_content }}
                    </div>
                </a>

                <div class="post-ft"> <!--인원수, 참여하기(or 종료하기) 버튼-->
                    <div class="people-count"> <!--인원수-->
                        <img src="{% static 'image/people.png' %}" alt=""> <!--사람들 아이콘-->
                        <span>{{ meeting.participant_count }}명 / 4명</span> <!--⭐⭐ 인원수 글자 -->
                    </div>
                    <div class="post-btn">
                        {% if meeting.status.status_number == 0 %}
                            <div class="meeting-btns2">참여중</div>
                        {% elif meeting.status.status_number < 3 %}
                            <div class="meeting-btns">모임진행</div>
                        {% else %}
                            <div class="meeting-btns-complete">{{ meeting.status.button_text }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="line"></div> <!--구분선-->
            {% endfor %}
        {% include 'menuBar_mypage.html' %}
{% endblock %}