        {% load static %}
        <div class="menu"> <!--메뉴바(footer) 영역-->
            <div class="menu-icons">
                <div>
                    <a href="{% url 'boards:main' %}"><img src="{% static 'image/write.png' %}" alt="" class="write"></a>
                </div>
                <div>
                    <a href="{% url 'index' %}"><img src="{% static 'image/home-yellow.png' %}" alt="" class="home"></a>
                </div>
                <div>
                    <a href="{% url 'accounts:user_page' %}"><img src="{% static 'image/user-info.png' %}" alt="" class="user"></a>
                </div>
            </div>
        </div>